@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
:root {
  --color-main: #45b4d1;
  --color-auxiliar2: #d87431;
  --color-black: #212e37;
  --second-font: "Montserrat", sans-serif;
}

html {
  font-family: var(--second-font);
  font-size: 10px;
  color: var(--color-black);
  margin: 0px;
  padding: 0px;
  min-width: 380px;
}

body {
  width: 100%;
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 20px solid var(--color-main);
  border-radius: 50%;
  margin: 20px auto;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
  width: 50%;
  height: 6px;
  background: var(--color-black);
  position: absolute;
  top: 50%;
  border-radius: 10px;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.hour-hand {
  width: 120px;
  top: 50%;
  right: 50%;
}
.min-hand {
  height: 4px;
}
.second-hand {
  height: 2px;
  background-color: var(--color-auxiliar2);
}
.number {
  position: absolute;
  font-weight: 600;
}
.num_12 {
  right: 46%;
}
.num_6 {
  right: 48%;
  bottom: 0;
}
.num_9 {
  top: 47%;
}
.num_3 {
  top: 47%;
  right: 0;
}

.clock_digital {
  display: flex;
  width: 100%;
  justify-content: center;
}
.clock_digital p {
  margin: 10px;
  font-size: 40px;
}
#zone {
  margin: 5px;
  font-size: 15px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer img {
  width: 3rem;
}
